@import "tailwindcss";


@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: url("Ubuntu-Regular.ttf");
}

@theme {
   --color-lighter-500: oklch(37.82% 0.0415 19.18);
   --color-inner-500: oklch(48.23% 0.0539 19.22);
   --color-darker-500: oklch(34.14% 0.0352 19.04);
   --color-text-500: oklch(87.2% 0.0144 318.7);
   --color-border-500: oklch(28.1% 0.0213 18.5);
   --font-default: "Ubuntu";
   --breakpoint-navclose: 66rem;
   --drop-shadow-outer: 0 2px 1px rgba(0, 0, 0, 0.5);
   --inset-shadow-inner: inset 0 0px 2px rgba(0, 0, 0, 0.25);
}

body {
    background-color: var(--color-lighter-500);
}